:root {
  --border-color: #f8eeff;
  --transition: all 0.2s ease;
}

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans SemiBold";
  src: url("../fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Poids semi-gras pour Work Sans SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "WorkSans Bold";
  src: url("../fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "WorkSans", sans-serif;
  letter-spacing: -0.04em;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(248, 238, 255);
  padding-bottom: 300px;
}

.banner {
  width: 100%;
  height: 320px;

  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-wrapper {
  padding: 0 24px;
}

main {
  max-width: 600px;
  width: 100%;
  margin: -150px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 40px;
  padding-bottom: 0px;
  background: #fff;
  border-radius: 16px;
}

.star,
.faq {
  display: flex;
  align-items: center;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

hr {
  border-bottom: 1px solid var(--border-color);
}

.accordion .accordion-item .accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 20px 0;
  cursor: pointer;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
  font-size: 18px;
  color: #301534;
  font-weight: 600;
}

.icon-minus {
  display: none;
}

.icon-plus {
  display: block;
}

.accordion-item.open .accordion-item-header .icon-minus {
  display: block;
}
.accordion-item.open .accordion-item-header .icon-plus {
  display: none;
}

.accordion .accordion-item .accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
}

.accordion
  .accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description {
  min-height: 0;
}

.accordion
  .accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description
  p {
  padding: 20px 0;
  padding-top: 0;
  line-height: 1.5;
  font-size: 16px;
  color: #8b6990;
}

@media (max-width: 648px) {
  .banner {
    height: 200px;
  }
  main {
    margin-top: -90px;
    padding: 32px 24px;
  }
}
